/* CUTSTOM PROPS */
:root {
    --green: #30C88F;
    --black: #2D314D;;
    --gray: #9597A5;
    
    --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    
}


/* FONTS-FACE */
@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
    url('../fonts/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
    url('../fonts/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: -0.25px;
    font-family: "Public Sans", "Arial", sans-serif;
    background-color: #fafafa;
    color: var(--gray);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* LOGO */
.logo {
    display: flex;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    width: 139px;
    height: 20px;
    object-fit: contain;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}



/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-bottom: 32px;
    padding-top: 28px;
}

.sitenav__link::after {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--green);
    background-image: var(--gradient);
    content: "";
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1px;
}

.sitenav__link:hover {
    color: var(--black);
}

.sitenav__link:hover::after {
    display: block;
}


/* BUTTON */
.button {
    position: relative;
    display: inline-block;
    padding: 8px 34px;
    border-radius: 22px;
    overflow-x: hidden;
    background-color: var(--green);
    background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.4);
    content: "";
}

.button:active {
    transform: translateY(2px);
}


/* SITE-HEADER */
.site-header {
    position: relative;
    z-index: 50;
    background-color: #fff;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* MAIN-CONTENT */
/* HERO */
.hero {
    position: relative;
    z-index: 30;
    padding-top: 170px;
    padding-bottom: 170px;
    background-image: url("../img/hero-bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 593px) -261px;
}

.hero__content {
    width: 100%;
    max-width: 450px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--black);
    font-size: 56px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1px;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.281px;
}

.hero__img {
    position: absolute;
    width: 730px;
    height: 900px;
    left: calc(50% + 120px);
    top: -112px;
}


/* FEATURES */
.features {
    padding-top: 96px;
    padding-bottom: 94px;
    background-color: #F4F5F7;
}

.features__info {
    width: 100%;
    max-width: 635px;
    margin-bottom: 72px;
}

.features__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--black);
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px; /* 160% */
    letter-spacing: -0.7px;
}

.features__text {
    margin-top: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.3px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-bottom: -80px;
    list-style: none;
}

.features__item {
    width: 100%;
    max-width: 255px;
    margin-left: 30px;
    margin-bottom: 80px;
}

/* .features__item:not(:last-child) {
    margin-right: 30px;
} */

.feature__img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.feature__title {
    margin-top: 40px;
    margin-bottom: 26px;
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.429px;
}

.feature__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
}
